# Feature Engineering

In [2]:
import sys, os
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
sys.path.append(os.path.abspath(os.path.join('..', 'utils')))
from utils.utility import MyLabelEncoder

In [3]:
train_data = pd.read_csv('../Data/train.csv')
test_data =  pd.read_csv('../Data/test.csv')
train_data.shape

(381109, 12)

In [4]:
train_data.shape

(381109, 12)

In [5]:
train_data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [9]:
cat_attribs = [attr for attr in train_data.columns if train_data[attr].dtype == np.dtype('O')]
enc = MyLabelEncoder(cat_attribs)
train_data = enc.fit_transform(train_data)
test_data = enc.fit_transform(test_data)

In [10]:
train_data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,1,44,1,28.0,0,2,1,40454.0,26.0,217,1
1,2,1,76,1,3.0,0,0,0,33536.0,26.0,183,0
2,3,1,47,1,28.0,0,2,1,38294.0,26.0,27,1
3,4,1,21,1,11.0,1,1,0,28619.0,152.0,203,0
4,5,0,29,1,41.0,1,1,0,27496.0,152.0,39,0

In [ ]:
#groups = ['Low', 'Med', 'High', 'Exp']

#df['Annual_Premium_qcut'] = pd.qcut(df['Annual_Premium'], q=4, labels=groups)
#df[['Annual_Premium', 'Annual_Premium_qcut']].tail()